.about-us__inner{
    padding-bottom: 100px;
}
.about-us__text{
    margin-bottom: 100px;
}
.about-us__info{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
}
.about-us__info__text{
    font-size: 20px;
    max-width: 800px;
}
.about-us__info__img> source,img{
    max-width: 400px;
    height: auto;
}